In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
#from config import g_key

In [2]:
#import keys by other way

import sys 

sys.path.append("C:/Users/Ameysne/api")

from api_key import g_key
api_key = g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-12-21 17:14:29,-54.8000,-68.3000,58.62,62,40,35.68
1,1,Saint-Philippe,RE,2021-12-21 17:16:38,-21.3585,55.7679,78.39,87,74,12.01
2,2,Muros,ES,2021-12-21 17:16:38,42.7762,-9.0603,64.09,79,100,11.07
3,3,Leningradskiy,RU,2021-12-21 17:16:38,69.3833,178.4167,0.46,70,84,30.87
4,4,Billings,US,2021-12-21 17:15:18,45.7833,-108.5007,36.52,72,20,3.44

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.b
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#bfig

In [7]:
import ipywidgets as widgets
widgets.IntSlider()

IntSlider(value=0)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    #[max(temp, 0) for temp in max_temp]
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Saint-Philippe,RE,2021-12-21 17:16:38,-21.3585,55.7679,78.39,87,74,12.01
5,5,Vilhena,BR,2021-12-21 17:16:39,-12.7406,-60.1458,79.02,83,40,5.75
8,8,Takoradi,GH,2021-12-21 17:16:40,4.8845,-1.7554,83.77,53,68,9.95
9,9,Kloulklubed,PW,2021-12-21 17:16:40,7.0419,134.2556,77.50,79,100,19.44
11,11,Salalah,OM,2021-12-21 17:16:41,17.0151,54.0924,77.09,69,0,2.30
14,14,Castro,BR,2021-12-21 17:16:42,-24.7911,-50.0119,85.87,32,1,4.99
15,15,Touros,BR,2021-12-21 17:16:42,-5.1989,-35.4608,86.90,61,100,12.19
17,17,Avarua,CK,2021-12-21 17:16:43,-21.2078,-159.7750,77.05,78,40,6.91
18,18,Coro,VE,2021-12-21 17:15:23,11.4045,-69.6734,85.39,63,53,15.75
21,21,Tual,ID,2021-12-21 17:16:44,-5.6667,132.7500,82.60,79,100,10.36

In [19]:
preferred_cities_df.count()

City_ID       136
City          136
Country       135
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [21]:
preferred_cities_df.notnull().sum()

City_ID       136
City          136
Country       135
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [33]:
#If you have some rows with null values, you'll need to drop them using the dropna()
#method at the end of your filtering
#statement when you are creating the new DataFrame.
preferred_cities_df = preferred_cities_df.dropna(how='any')
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Saint-Philippe,RE,2021-12-21 17:16:38,-21.3585,55.7679,78.39,87,74,12.01
5,5,Vilhena,BR,2021-12-21 17:16:39,-12.7406,-60.1458,79.02,83,40,5.75
8,8,Takoradi,GH,2021-12-21 17:16:40,4.8845,-1.7554,83.77,53,68,9.95
9,9,Kloulklubed,PW,2021-12-21 17:16:40,7.0419,134.2556,77.50,79,100,19.44
11,11,Salalah,OM,2021-12-21 17:16:41,17.0151,54.0924,77.09,69,0,2.30

In [57]:
preferred_cities_df.notnull().sum()

City_ID       135
City          135
Country       135
Date          135
Lat           135
Lng           135
Max Temp      135
Humidity      135
Cloudiness    135
Wind Speed    135
dtype: int64

In [58]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Saint-Philippe      RE     78.39 -21.3585   55.7679
5          Vilhena      BR     79.02 -12.7406  -60.1458
8         Takoradi      GH     83.77   4.8845   -1.7554
9      Kloulklubed      PW     77.50   7.0419  134.2556
11         Salalah      OM     77.09  17.0151   54.0924
14          Castro      BR     85.87 -24.7911  -50.0119
15          Touros      BR     86.90  -5.1989  -35.4608
17          Avarua      CK     77.05 -21.2078 -159.7750
18            Coro      VE     85.39  11.4045  -69.6734
21            Tual      ID     82.60  -5.6667  132.7500

In [59]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [68]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")
            
            
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
5,Vilhena,BR,79.02,-12.7406,-60.1458,Hotel Mirage
8,Takoradi,GH,83.77,4.8845,-1.7554,Raybow International Hotel
9,Kloulklubed,PW,77.50,7.0419,134.2556,Storyboard Beach Resort
11,Salalah,OM,77.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
14,Castro,BR,85.87,-24.7911,-50.0119,CHACARA BAILLY
15,Touros,BR,86.90,-5.1989,-35.4608,INN NEW HORIZON
17,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
18,Coro,VE,85.39,11.4045,-69.6734,Federal
21,Tual,ID,82.60,-5.6667,132.7500,Grand Vilia Hotel

In [71]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [75]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [76]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))