In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
#from config import g_key

In [14]:
#import keys by other way

import sys 

sys.path.append("C:/Users/Ameysne/api")

from api_key import g_key
api_key = g_key

In [15]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-12-21 17:14:29,-54.8000,-68.3000,58.62,62,40,35.68
1,1,Saint-Philippe,RE,2021-12-21 17:16:38,-21.3585,55.7679,78.39,87,74,12.01
2,2,Muros,ES,2021-12-21 17:16:38,42.7762,-9.0603,64.09,79,100,11.07
3,3,Leningradskiy,RU,2021-12-21 17:16:38,69.3833,178.4167,0.46,70,84,30.87
4,4,Billings,US,2021-12-21 17:15:18,45.7833,-108.5007,36.52,72,20,3.44

In [16]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.b
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#bfig

In [7]:
import ipywidgets as widgets
widgets.IntSlider()

IntSlider(value=0)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    #[max(temp, 0) for temp in max_temp]
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig.save("Heatmap of cloudiness.png")
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-12-21 17:14:29,-54.8000,-68.3000,58.62,62,40,35.68
2,2,Muros,ES,2021-12-21 17:16:38,42.7762,-9.0603,64.09,79,100,11.07
6,6,Coihaique,CL,2021-12-21 17:16:39,-45.5752,-72.0662,73.35,35,0,3.44
10,10,Busselton,AU,2021-12-21 17:16:40,-33.6500,115.3333,60.08,85,17,14.45
13,13,Asyut,EG,2021-12-21 17:16:41,27.1810,31.1837,54.73,49,7,5.12
16,16,Faya,SA,2021-12-21 17:16:43,18.3851,42.4509,60.91,82,84,2.37
19,19,Mackay,AU,2021-12-21 17:16:44,-21.1500,149.2000,71.04,72,12,1.74
20,20,Kailua,US,2021-12-21 17:16:44,21.4022,-157.7394,73.38,73,75,13.80
22,22,Saldanha,ZA,2021-12-21 17:16:45,-33.0117,17.9442,69.30,76,28,13.13
26,26,Greytown,ZA,2021-12-21 17:16:46,-29.0642,30.5928,63.25,99,94,1.95

In [27]:
preferred_cities_df.count()

City_ID       127
City          127
Country       126
Date          127
Lat           127
Lng           127
Max Temp      127
Humidity      127
Cloudiness    127
Wind Speed    127
dtype: int64

In [28]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [29]:
preferred_cities_df.notnull().sum()

City_ID       127
City          127
Country       126
Date          127
Lat           127
Lng           127
Max Temp      127
Humidity      127
Cloudiness    127
Wind Speed    127
dtype: int64

In [30]:
#If you have some rows with null values, you'll need to drop them using the dropna()
#method at the end of your filtering
#statement when you are creating the new DataFrame.
preferred_cities_df = preferred_cities_df.dropna(how='any')
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-12-21 17:14:29,-54.8000,-68.3000,58.62,62,40,35.68
2,2,Muros,ES,2021-12-21 17:16:38,42.7762,-9.0603,64.09,79,100,11.07
6,6,Coihaique,CL,2021-12-21 17:16:39,-45.5752,-72.0662,73.35,35,0,3.44
10,10,Busselton,AU,2021-12-21 17:16:40,-33.6500,115.3333,60.08,85,17,14.45
13,13,Asyut,EG,2021-12-21 17:16:41,27.1810,31.1837,54.73,49,7,5.12

In [31]:
preferred_cities_df.notnull().sum()

City_ID       126
City          126
Country       126
Date          126
Lat           126
Lng           126
Max Temp      126
Humidity      126
Cloudiness    126
Wind Speed    126
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0     Ushuaia      AR     58.62 -54.8000  -68.3000
2       Muros      ES     64.09  42.7762   -9.0603
6   Coihaique      CL     73.35 -45.5752  -72.0662
10  Busselton      AU     60.08 -33.6500  115.3333
13      Asyut      EG     54.73  27.1810   31.1837
16       Faya      SA     60.91  18.3851   42.4509
19     Mackay      AU     71.04 -21.1500  149.2000
20     Kailua      US     73.38  21.4022 -157.7394
22   Saldanha      ZA     69.30 -33.0117   17.9442
26   Greytown      ZA     63.25 -29.0642   30.5928

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")
            
            
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ushuaia,AR,58.62,-54.8000,-68.3000,Albatros Hotel
2,Muros,ES,64.09,42.7762,-9.0603,Apartment Av. Castelao
6,Coihaique,CL,73.35,-45.5752,-72.0662,Diego De Almagro Coyhaique
10,Busselton,AU,60.08,-33.6500,115.3333,Observatory Guest House
13,Asyut,EG,54.73,27.1810,31.1837,فندق ميس إيجيبت Miss Egypt Hotel
16,Faya,SA,60.91,18.3851,42.4509,املاك خالد الشعشوع
19,Mackay,AU,71.04,-21.1500,149.2000,International Lodge Motel
20,Kailua,US,73.38,21.4022,-157.7394,Sheffield House Bed & Breakfast
22,Saldanha,ZA,69.30,-33.0117,17.9442,Blue Bay Lodge
26,Greytown,ZA,63.25,-29.0642,30.5928,Lord Grey Guest House

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))